/*

  FONTS
  - Maison Book
  - Maison Bold

*/
@font-face {
  font-family: 'Maison-Neue-Book';
  src: url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
       url('../fonts/MaisonNeue-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maison-Neue-Bold';
  src: url('../fonts/MaisonNeue-Bold.woff2') format('woff2'),
       url('../fonts/MaisonNeue-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*

  POSITION
  - Display
  - Position
  - Flex
  - Justify Content

*/
/* Display */
.d-flex { display: flex; }
/* Position */
.p-relative { position: relative; }
.t-1r { top: 1rem; }
/* Flex */
.f-1 { flex: 1; }
.fg-1 { flex-grow: 1; }
/*

  SIZE
  - Width
  - Max width
  - Height

*/
/* Width */
.w-100p { width: 100%; }
/* Max width */
.mw-28r { max-width: 28rem; }
/* Height */
.h-2x { height: 2px; }
/*

  SPACE
  - Margin
  - Padding

*/
/* Margin */
.mv-12r { margin-top: 12rem; margin-bottom: 12rem; }
.mb-2r { margin-bottom: 2rem; }
.mb-12r { margin-bottom: 12rem; }
/* Padding */
.ph-1r { padding-right: 1rem; padding-left: 1rem; }
.ph-2r { padding-right: 2rem; padding-left: 2rem; }
.pr-2r { padding-right: 2rem; }
.pl-2r { padding-left: 2rem; }
/*

  TYPOGRAPHY
  - Font family
  - Font size
  - Font style
  - Line height
  - Text decoration
  - Color
*/
/* Font family */
.ff-mn-book { font-family: 'Maison-Neue-Book', sans-serif; }
.ff-mn-bold { font-family: 'Maison-Neue-Bold', sans-serif; }
/* Font size */
.fs-1_125r { font-size: 1.125rem; }
.fs-1_5r { font-size: 1.5rem; }
/* Font style */
.fs-italic { font-style: italic; }
/* Line height */
.lh-1_5 { line-height: 1.5; }
.lh-1_9 { line-height: 1.9; }
/* Text decoration */
.td-none { text-decoration: none; }
/* Color */
.c-white { color: #ffffff; }
/*

  BORDER
  - Width
  - Color
  - Style

*/
/* Width */
.bbw-1x { border-bottom-width: 1px; }
/* Color */
.bbc-white { border-bottom-color: #ffffff; }
/* Style */
.bbs-dotted { border-bottom-style: dotted; }
/*

  BACKGROUND
  - Background color

*/
/* Background color */
.bg-blue { background-color: #0057ff; }
.bg-white { background-color: #ffffff; }
/*

  MISCELLANEOUS
  - Web font smoothing

*/
/* Web font smoothing */
.wfs-antialiased { -webkit-font-smoothing: antialiased; }
/*

  MEDIA QUERY
  - Not small (+30rem)

*/
/* Not small */
@media screen and (min-width: 55rem) {
  /*

    POSITION
    - Display
    - Position
    - Flex

  */
  /* Display */
  .d-flex-ns { display: flex; }
  /* Position */
  .t-1_6r-ns { top: 1.6rem; }
  /* Flex */
  .f-1-ns { flex: 1; }
  .f-1_2-ns { flex: 1.2; }
  /*

    SIZE
    - Max width

  */
  /* Max width */
  .mw-42r-ns { max-width: 50rem; }
  .mw-100p-ns { max-width: 100%; }
  /*

    SPACE
    - Margin
    - Padding

  */
  /* Margin */
  .mh-auto-ns { margin-right: auto; margin-left: auto; }
  /* Padding */
  .pr-2r-ns { padding-right: 2rem; }
  .pl-2r-ns { padding-left: 2rem; }
  /* DELETE */
  .ai-center-ns { align-items: center; }
  .jc-center-ns { justify-content: center; }
  .mv-0-ns { margin-top: 0; margin-bottom: 0; }
  .h-100p-ns { height: 100%; }
  /*

    TYPOGRAPHY
    - Font size

  */
  /* Font size */
  .fs-2_25r-ns { font-size: 2.25rem; }
}
