h2 {
  margin-top: 20px;
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 36px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0c5b43;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  margin-top: 11px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  padding-top: 8px;
  color: #2f2f2f;
  font-size: 20px;
  line-height: 32px;
}

a {
  border-bottom: 1px dashed #e9d4a6;
  color: #2f2f2f;
  text-decoration: none;
}

a:hover {
  border-style: solid solid dashed;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #daaf4f;
  color: #000;
}

.image {
  width: 100%;
  height: auto;
}

.basicsection {
  margin-bottom: 220px;
}

.largetext {
  display: block;
  width: 83%;
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 36px;
}

.body {
  background-color: #fffaef;
  font-family: Calibreweb, sans-serif;
  font-size: 26px;
}

.heading {
  margin-bottom: 31px;
  font-family: Calibreweb, sans-serif;
  font-size: 96px;
  font-weight: 600;
}

.section {
  margin-top: 100px;
}

.datestyle {
  margin-bottom: 32px;
  font-family: Inconsolata, monospace;
  color: #0c5b43;
  font-size: 19px;
}

.heading-2 {
  margin-bottom: 64px;
  color: #0c5b43;
  font-size: 25px;
  font-weight: 400;
}

.heading-3 {
  margin-bottom: 24px;
  font-weight: 600;
}

.schedulemargin {
  margin-bottom: 64px;
  font-weight: 600;
}

.columnstyle {
  margin-bottom: 24px;
}

.text-block {
  margin-top: 8px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.heading-4 {
  font-weight: 600;
}

.heading-5 {
  font-weight: 600;
}

.paragraph {
  padding-top: 8px;
}

.paragraph-2 {
  padding-top: 7px;
}

.link {
  border-bottom: 1px dashed #e9d4a6;
  border-radius: 0px;
}

.link:hover {
  border-style: dashed;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #daaf4f;
  color: #000;
}

.link-copy {
  border-bottom: 1px dashed #e9d4a6;
  border-radius: 0px;
}

.link-copy:hover {
  border-style: dashed;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #daaf4f;
  color: #000;
}

.div-block {
  height: 500px;
  background-image: url('../images/designTeamLikeminds20182x.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.datestyle-2 {
  display: block;
  margin-bottom: 32px;
  font-family: Inconsolata, monospace;
  color: #0c5b43;
  font-size: 19px;
}

@media (max-width: 991px) {
  .div-block {
    height: 420px;
  }
}

@media (max-width: 767px) {
  .largetext {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading {
    padding-right: 10px;
    padding-left: 10px;
  }
  .datestyle {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .schedulemargin {
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-block {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .datestyle-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 479px) {
  h4 {
    padding-right: 20px;
    padding-left: 10px;
  }
  h5 {
    padding-right: 10px;
    padding-left: 10px;
  }
  p {
    padding-right: 11px;
    padding-left: 11px;
  }
  .basicsection {
    margin-bottom: 140px;
  }
  .largetext {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading {
    margin-top: 12px;
    margin-bottom: 8px;
    padding-right: 56px;
    padding-left: 20px;
    font-size: 64px;
    line-height: 64px;
  }
  .section {
    margin-top: 100px;
  }
  .datestyle {
    margin-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 19px;
  }
  .heading-2 {
    margin-top: 0px;
    margin-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 22px;
  }
  .heading-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .schedulemargin {
    padding-right: 20px;
    padding-left: 20px;
  }
  .text-block {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
  .heading-4 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading-5 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mobiletime {
    font-size: 16px;
  }
  .div-block {
    height: 400px;
    margin-left: 0px;
    background-position: 50% 100%;
  }
  .datestyle-2 {
    margin-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 19px;
  }
}

@font-face {
  font-family: 'Calibreweb';
  src: url('../fonts/CalibreWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Calibreweb';
  src: url('../fonts/CalibreWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Calibreweb';
  src: url('../fonts/CalibreWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Calibreweb';
  src: url('../fonts/CalibreWeb-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}